table {
  color: blueviolet;
}
.solid {
  width: 100%;
  height: 250px;
  background-color: coral;
  border-bottom: 15px solid rgb(2, 17, 17);
  position: absolute;
  top: -250px;
  transition: top 1s ease-in-out;
  animation: render1 2s ease-in-out infinite ;
}
body {
  margin: 0;
  padding: 0;
}
.solid p {
  text-align: center;
  margin: 100px;
}
.solid:hover {
  top: 0;
}

@keyframes render1 {
  0% {
    background-color: coral;
  }
  50% {
    background-color: blueviolet;
  }
  100% {
    background-color: coral;
  }
}
